infra/engines/n8n/workflows/autonoma_index_rebuild.json
{
  "name": "autonoma-n8n-index-rebuild",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autonoma-index-rebuild",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Index",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "autonoma-index-rebuild"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "status", "name": "status", "type": "string", "value": "success"},
            {"id": "workflow", "name": "workflow", "type": "string", "value": "autonoma-n8n-index-rebuild"},
            {"id": "message", "name": "message", "type": "string", "value": "Index rebuild completed"}
          ]
        },
        "options": {}
      },
      "id": "Set_Index",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {"responseCode": 200}
      },
      "id": "Respond_Index",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Set Result", "type": "main", "index": 0}]]},
    "Set Result": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "meta": {"instanceId": "autonoma"},
  "active": true
}
